---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostThumb from '../components/PostThumb.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const posts = (await Astro.glob('./*.{md,mdx}'))
  .sort(
    (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
  )
  .map((a) => Object.assign({}, a, { id: a.url.substring(1) }));
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      ul {
        list-style-type: none;
        padding: unset;

        li {
          display: flex;
        }
      }

      hr {
        margin-top: 50px;
        margin-bottom: 50px;
        opacity: 0.6;
      }

      main {
        max-width: 1050px;
        padding: 16px;
        margin: 0 auto;
        padding-top: 50px;
        flex: 1;
        width: 100%;

        h1 {
          text-align: center;
          display: block;
          font-size: 3em;
          margin-top: 0.67em;
          margin-bottom: 0.35em;
          margin-left: 0;
          margin-right: 0;
          font-weight: bold;
          line-height: 1.5em;
        }

        p {
          &.description {
            font-size: 1.4em;
            text-align: center;
            margin-bottom: 40px;
          }
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h1>{SITE_TITLE}</h1>
        <p class="description">{SITE_DESCRIPTION}</p>
      </section>
      <section>
        <ul>
          {
            posts.map((post) => (
              <PostThumb
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                id={post.id}
                url={post.url}
                pubDate={post.frontmatter.pubDate}
              />
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
