---
import { Picture } from '@astrojs/image/components';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const images = await Astro.glob('../images/**/thumbnail.jpg');
const posts = (await Astro.glob('./*.{md,mdx}')).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
).map(a => Object.assign({}, a, {id: a.url.substring(1)}));


---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #888;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <time datetime={post.frontmatter.pubDate}>
                  {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                  })}
                </time>
                <a href={post.url}>{post.frontmatter.title}</a>
                <img src={`blog-images/${post.id}/thumbnail.jpg`}/>
              </li>
            ))
          }
        </ul>

        <img src={images[0].default.src} />

        <Picture src={images[0].default.src} widths={[200, 400, 800]} sizes="(max-width: 800px) 100vw, 800px" alt="My local image" aspectRatio="1:1" />
      </section>
    </main>
    <Footer />
  </body>
</html>
