---
import { Picture } from '@astrojs/image/components';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const images = await Astro.glob('../images/**/thumbnail.jpg');
const posts = (await Astro.glob('./*.{md,mdx}'))
  .sort(
    (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
  )
  .map((a) => Object.assign({}, a, { id: a.url.substring(1) }));
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      ul {
        list-style-type: none;
        padding: unset;

        li {
          display: flex;
        }
      }

      main {
        max-width: 1050px;
        padding: 16px;
        margin: 0 auto;
        padding-top: 52px;

        h1 {
          text-align: center;
          font-size: 2rem;
        }

        h2 {
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h1>{SITE_TITLE}</h1>
        <h2>
          Here is my blog filled with travel stories and experiences.
          <br />With the sprinkling of tips and tricks here and there.
        </h2>
      </section>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <time datetime={post.frontmatter.pubDate}>
                  {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                  })}
                </time>
                : <a href={post.url}>{post.frontmatter.title}</a>
              </li>
            ))
          }
        </ul>

        <!-- <img src={images[0].default.src} /> -->
        <!--
        <Picture
          src={images[0].default.src}
          widths={[200, 400, 800]}
          sizes="(max-width: 800px) 100vw, 800px"
          alt="My local image"
          aspectRatio="1:1"
        /> -->
      </section>
    </main>
    <Footer />
  </body>
</html>
